body {
  background: #070f2b;
  font-family: "Nunito", sans-serif;
}

img {
  border-radius: 5px;
}

#navbar {
  font-size: 1.5rem;
  font-weight: 100;
  /* background-color: #1b1a55; */
}

#navbar button {
  color: #535c91;
}

#navbar .nav-link {
  color: white;
}

#navbar .nav-link:hover {
  color: #9290c3;
}

#navbar .navbar-brand {
  color: #9290c3;
  font-size: 1.5rem;
  font-weight: 300;
}

#navbar.scrolled {
  background-color: #1b1a55;
}

#title-head {
  font-weight: 100;
  font-size: 4rem;
}

.blurb h2 {
  color: #9290c3;
  font-weight: 100;
  font-size: 2.5rem;
}

.blurb p {
  color: #535c91;
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 2;
}

.content {
  margin-top: 100px;
  margin-bottom: 100px;
}

@media (max-widt: 1200px) {
  #title-head h1 {
    font-weight: 100;
    font-size: 3rem;
  }
}
